* {
	font-family: Helvetica, Arial, sans-serif;
}

h4,h5,h6 {
	font-weight: normal;
	margin: 0;
}

/*h4:before {
	content: 'Artist: ';
}
h5:before {
	content: 'Track: ';
}*/

ul.plain,
ul.plain li {
	list-style-type: none;
	margin: 0 0 15px;
	padding: 0;
}

.results h4 {
	
}

.col {
	float: left;
	width: 33%;
}